
body {
    font: normal 15pt Arial;
    color: white;
    background: rgb(11, 127, 153);
    text-align: center;
}

header {
    padding: 20px;

}

section {
    background: rgb(205, 205, 199);
    color: black;
    width: 500px;
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.307);
}

p {
    padding: 10px;
}


footer {
    margin-top: 20px;
    font-style: italic;
}